<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather application</title>
    <link rel="stylesheet" href="/styles/style.css">
</head>
<body>
    
    <div class="container">

        <h1>Simple WebApplication</h1>

        <div class="form-container">

            <form action="/" method="post">
                <input type="text" name="city" placeholder="Enter the city">
                <input type="text" name="country" placeholder="Enter the country">
                <button type="submit">GET</button>
            </form>

        </div>

    </div>

</body>
</html>